.hero {
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
    background-position: center;
    margin-top: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
main .hero .title {
    padding-top: 10rem;
    color: var(--text-white);
}
.explore-btn {
    margin-top: 3rem;
    padding: 1rem 3rem;
    background: #ff751a;
    cursor: pointer;
    border: 0;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    color: beige;
}
.explore-btn:hover {
    background: transparent;
    color: var(--text-white);
    border: 1px solid white;
}

.principal{
 background-color: #ff751a;
 font-size: 29px;
 padding: 10px;
}

.titulo_banner{
    background-color: #ff751a;
    padding: 10px;
    text-align: center;
    width: 500px;
}